<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title *ngIf="identity">
      Hola {{identity[0].NOMBRE}}
    </ion-title>
    <h4 slot="end">{{total}} h</h4>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form>
    <ion-item lines="full">
      <ion-label position="stacked">Obra</ion-label>
      <ion-searchbar type="text" debounce="600" [(ngModel)]="obra" name="obra" placeholder="Buscar obra"
        (ionInput)="getItems($event)" (ionFocus)="checkFocus()"></ion-searchbar>
      <ion-list *ngIf="isItemAvailable">
        <ion-item *ngFor="let o of items" (click)="obraSelected(o)">{{ o.DESCRIPCION }} - {{o.OBRA}}</ion-item>
      </ion-list>
    </ion-item>

    <!-- <ion-item lines="full">
      <ion-label position="floating">Empresa</ion-label>
      <ion-input *ngIf="empresa" [(ngModel)]="empresa.DESCRIPCION" placeholder="Empresa de la obra" name="empresa"
        type="text" [readonly]="true"></ion-input>
    </ion-item> -->

    <ion-item lines="full">
      <ion-label position="floating">Horas</ion-label>
      <ion-grid no-padding>
        <ion-row no-padding justify-content-start align-items-start>
          <ion-col size="auto" ion-item no-lines no-padding text-center col-2>
            <ion-fab-button color="primary" (click)="decrementQty()"><ion-icon name="remove-outline"></ion-icon></ion-fab-button>
          </ion-col>
          <ion-col  ion-item no-lines no-padding text-center col-2>
            <ion-input [(ngModel)]="numHours" name="numhours"  pattern="^[1-9]{1,3}$|^[0-9]{1,3}\.[0-9]{1,3}$"
              clearOnEdit="true" inputmode="numeric" min="0" (ionInput)="byPassValue()" type=number required></ion-input>
          </ion-col>
          <ion-col size="auto" ion-item no-lines no-padding text-center col-2>
            <ion-fab-button color="primary" (click)="incrementQty()"><ion-icon name="add-outline"></ion-icon></ion-fab-button>
          </ion-col>
        </ion-row>
        </ion-grid>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Tipo</ion-label>
      <ion-select [value]="tipo" [(ngModel)]="tipo" name="type" okText="Okay" cancelText="Cancelar">
        <ion-select-option value="M">Maquina</ion-select-option>
        <ion-select-option value="P">Persona</ion-select-option>
        <ion-select-option value="X">Mixto</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="none" *ngIf="tipo != 'P'">
      <ion-label position="floating">Maquina</ion-label>
      <ion-input [(ngModel)]="maquina" debounce="600" name="maquina" clearOnEdit="true" (ionFocus)="checkMaquinaFocus()" (ionInput)="getMachines($event)"
        required></ion-input>
      <ion-list *ngIf="isMachineAvailable">
        <ion-item *ngFor="let m of itemsMachine" (click)="maquinaSelected(m)">{{ m.NOMBRE }} - {{m.COD_MAQUINA}}
        </ion-item>
      </ion-list>
    </ion-item>

    <ion-item lines="full" *ngIf="showPrecios">
      <ion-label position="floating">Precios</ion-label>
      <ion-select [(ngModel)]="precio" name="cap">
        <ion-select-option *ngFor="let i of precios" [value]="i.COD_INTERNO">{{i.NOMBRE}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="full" *ngIf="capitulos">
      <ion-label position="floating">Capítulo</ion-label>
      <ion-select interface="action-sheet" [(ngModel)]="capitulo" name="cap">
        <ion-select-option *ngFor="let i of capitulos" [value]="i.CAPITULO">{{i.NOMBRE}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Observaciones</ion-label>
      <ion-textarea [(ngModel)]="observations" name="observations" placeholder="Tus observaciones..."></ion-textarea>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Fecha</ion-label>
      <ion-datetime name="time" displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" [(ngModel)]="myDate"
        [(max)]="maxDate">
      </ion-datetime>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="button" color="danger" expand="block" (click)="salir()">Salir</ion-button>
      </ion-col>
      <ion-col>
        <ion-button type="submit" color="success" expand="block" (click)="save()"
          [disabled]="!obra || !numHours || numHours <= 0 || capitulo ==='' || tipo =='M' && maquina === '' && precio === '' || tipo =='X' && maquina === '' && precio === '' ">
          Aceptar</ion-button>
      </ion-col>
    </ion-row>
  </form>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>Tus obras</ion-title>
    </ion-toolbar>
  </ion-header>
  <div *ngIf="tareas">
    <ion-item-sliding *ngFor="let t of tareas">
      <ion-item>
        <ion-label>
          {{t.DESCRIPCION}}, {{t.CANTIDAD}} h
        </ion-label>
      </ion-item>
      <ion-item-options>
        <ion-item-option (click)="delete(t)" color="danger">
          <ion-icon name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </div>
</ion-content>